In [52]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [20]:
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [32]:
#scraping of group table of tournament
all_tables[9] #Stadiums

,Lusail,Al Khor,Doha,Doha.1
0,Lusail Iconic Stadium,Al Bayt Stadium,Stadium 974,Al Thumama Stadium
1,"Capacity: 80,000","Capacity: 60,000[70]","Capacity: 40,000[71]","Capacity: 40,000[72]"
2,NaN,NaN,NaN,NaN
3,Host cities in Qatar.mw-parser-output .locmap ...,Host cities in Qatar.mw-parser-output .locmap ...,Stadiums in Doha areaEducation974KhalifaAl Thu...,Stadiums in Doha areaEducation974KhalifaAl Thu...
4,Al Rayyan,Al Rayyan,Al Rayyan,Al Wakrah
5,Khalifa International Stadium,Education City Stadium,Ahmad bin Ali Stadium[e],Al Janoub Stadium
6,"Capacity: 45,416[73]","Capacity: 45,350[74]","Capacity: 44,740[75]","Capacity: 40,000[76]"
7,NaN,NaN,NaN,NaN

In [33]:
#Numeber of teams and team based camp
all_tables[10]

,Teams,Hotels,Training Sites
0,Argentina,Qatar University Hostel 1,Qatar University Training Site 3
1,Australia,New Aspire Academy Athlete Accommodation,Aspire Zone Training Facilities 5
2,Belgium,Hilton Salwa Beach Resort and Villas,Salwa Training Site
3,Brazil,The Westin Doha Hotel and Spa,Al Arabi SC Stadium
4,Cameroon,Banyan Tree Doha At La Cigale Mushaireb,Al Sailiya SC Stadium
5,Canada,Century Marina Hotel Lusail,Umm Salal SC Training Facilities
6,Costa Rica,dusitD2 Salwa Doha,Al Ahli SC Stadium
7,Croatia,Hilton Doha,Al Ersal Training Site 3
8,Denmark,Retaj Salwa Resort & SPA,Al Sailiya SC 2
9,Ecuador,Hyatt Regency Oryx Doha,Mesaimeer SC Training Facilities
10,England,Souq Al Wakra Hotel Qatar by Tivoli,Al Wakrah SC Stadium
11,France,"Al Messila â€“ A Luxury Collection Resort & Spa,...",Al Sadd SC Stadium
12,Germany,Zulal Wellness Resort,Al Shamal Stadium
13,Ghana,DoubleTree by Hilton Doha - Al Sadd,Aspire Zone Training Facilities 1
14,Iran,Al Rayyan Hotel Doha Curio Collection by Hilton,Al Rayyan SC Training Facilities 1
15,Japan,Radisson Blu Hotel Doha,Al Sadd SC New Training Facilities 1
16,Mexico,"Simaisma, A Murwab Resort",Al Khor SC Stadium
17,Morocco,Wyndham Doha West Bay,Al Duhail SC Stadium
18,Netherlands,The St. Regis Doha,Qatar University Training Site 6
19,Poland,Ezdan Palace Hotel,Al Kharaitiyat SC Training Facilities
20,Portugal,Al Samriya Autograph Collection Hotel,Al Shahaniya SC Training Facilities
21,Qatar,Al Aziziyah Boutique Hotel,Aspire Zone Training Facilities 3
22,Saudi Arabia,"Sealine Beach, a Murwab Resort",Sealine Training Site
23,Senegal,Duhail Handball Sports Hall,Al Duhail SC 2
24,Serbia,Rixos Gulf Hotel Doha,Al Arabi SC Training Facilities
25,South Korea,Le MÃ©ridien City Center Doha,Al Egla Training Site 5
26,Spain,Qatar University Hostel 2,Qatar University Training Site 1
27,Switzerland,"Le Royal MÃ©ridien, Doha",University of Doha Training Facilities
28,Tunisia,Wyndham Grand Doha West Bay Beach,Al Egla Training Sites 3
29,United States,"Marsa Malaz Kempinski, The Pearl â€“ Doha",Al Gharafa SC Stadium
30,Uruguay,Pullman Doha West Bay,Al Ersal Training Site 1
31,Wales,Delta Hotels City Center Doha,Al Sadd SC New Training Facilities 2

In [56]:
#Scaping of group tables
all_tables[12]
all_tables[19]
all_tables[26]
all_tables[33]
all_tables[40]
all_tables[47]
all_tables[54]
all_tables[61]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [65]:
#for oeganise the group table
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [66]:
#extract and set all the group table
#clean the dataframe and create a dictionary

dict_table = {}

for letter, i in zip(alphabet, range(12,68,7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace = True)
    #df.pop('Qualification') --> delete the Qualification column
    dict_table[f'Group {letter}'] = df

In [67]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [68]:
dict_table['Group B']

   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    0  0  0  0   0   0   0    0
1    2           Iran    0  0  0  0   0   0   0    0
2    3  United States    0  0  0  0   0   0   0    0
3    4          Wales    0  0  0  0   0   0   0    0

In [69]:
#export the dictionary in a file
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)